<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist Appointment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand pl-4" href="#">Welcome {{display.username}}!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse pl-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto pl-5">
          <ul class="navbar-nav mr-auto pl-5">
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home">Bio</a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_performance">Performance list</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/artist_home_gallery">Gallery <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_schedule">Schedule</a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="#">Training </a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_invite_user">Invite Artist</a>
          </li>
           <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_list_artist">List of Accepted or Pending Artists</a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_appointment">Appointment  </a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/artist_home_reset_password">Reset Password</a>
          </li>
          <li class="nav-item pl-2">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    {{!-- <form class='container pt-4' method="POST" action="artist_home_training">
      <h3>Create Training</h3>
         <div class="row">
            <div class="form-group col-6">
              Timings: <input type="text" name="timings" id="" class="form-control" >
            </div>
            <div class="form-group col-6">
              Address: <input type="text" name="address" id="" class="form-control" >
            </div>
            <div class="form-group col-6">
              Batches: <select name="batches" id="" class="form-control" >
                  <option value="Batch1">Batch1</option>
                  <option value="Batch2">Batch2</option>
                  <option value="Batch2">Batch3</option>              </select>
            </div>
            <div class="form-group col-6">
              Contact: <input type="text" name="contact" id="" class="form-control" >
            </div>
         </div>
        <input type="submit" value="SUBMIT" class="btn btn-outline-primary">
    </form> --}}

    <div class="container pt-5">
        <h2 class="text-center">Upload image</h2><br><br>
        <div class="container">
            <form method="POST" action="upload" enctype="multipart/form-data">
            <div class="form-row col-6" style="margin-left: 26%;">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="insimage" accept="">
                        <label class="custom-file-label" for="inputGroupFile01">Choose image</label>
                    </div>
                </div>
                <div class="form-row col-12">
                  <label for="s">Caption</label>
                  <input type="text" class="form-control" id="s" name="caption" required>&nbsp;&nbsp;<span style="color: red; font-size: 14px;">{{message}}</span>
                </div>
                <div class="form-group col-6 pt-3">
                    <button type="submit" class="btn btn-outline-primary" name="submit"> Submit </button>
                </div>
            </form>       
    </div> 
      
</body>
</html>