<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Artist About</title>
</head>
<body>
    <div class="container pt-5">
        <form method="post" action="aboutupdate" >
            <div class="form-group">
                <label for="exampleFormControlTextarea1">About</label>
                <textarea class="form-control" name="about" id="exampleFormControlTextarea1" rows="5"></textarea><br><br>
                <div class="col-auto">
                    <input type="submit" class="btn btn-outline-primary" class="col-6">
                </div>
              </div>
        </form>
    </div>
</body>
</html>