<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist Home</title>
</head>
<body>
    <h1>Artist Home</h1>
    <h3>Welcome, {{display.user}} !!!</h3>
    {{#each display}}
    <p>{{this.badge1}}</p>
    <p>{{this.badge2}}</p>
    {{/each}}
</body>
</html>