<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artiste Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand pl-5" href="#"><h2 style="font-family: 'Dancing Script', cursive;">JAMS</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item pl-5"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Artiste login</li>
  </ol>
</nav>
    <div class="container p-5">
        <h1 class="text-center">ARTISTE Login Form</h1><br>
            <form action="norartistlogin" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" name="username" placeholder="Username" class="form-control" id="exampleInputEmail1" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword">Password</label>
                        <input type="password" name="password" placeholder="Password" class="form-control" id="exampleInputPassword" required>
                    </div>
                    <div class="form-group col-md-12">
                        <a href="/norartistforgotpassword">Forgot Password? </a>
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-outline-primary" class="col-6">
                    </div>
                </div>
            </form>
    </div>
</body>
</html>