<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artist Info</title>
</head>
<body>
    {{!-- {{display.id}} --}}

    <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each display}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.username}}</td>
                            <td>{{this.email}}</td>
                        </tr>
                    {{/each}}
                </tbody>
    </table>
</body>
</html>