<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="40" height="39" class="d-inline-block align-top" alt="">
            <span style="font-size: 26px; font-family: 'Righteous', cursive; color:rgb(57, 17, 121);">SMART <span style="color: rgb(96, 109, 228);">HEALTH</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" align="right">
                
                </div>
            </div>
                <span class="navbar-text">
                    <a class="nav-item nav-link" href="/patientreg"><span  style="color: rgb(88, 90, 228)">Sign up</span></a>
                </span>
                <span class="navbar-text pr-5">
                    <a class="nav-item nav-link" href="/patientlogin"><span  style="color: rgb(88, 90, 228)">Log in</span></a>
                </span>
        </nav>


        <div class="container p-5">
           <span style="margin-left: 75%">
               <i class='fas fa-arrow-left'></i><a href='/forgot_password'> Change number</a>
           </span>   
        <h1 class="text-center">Reset Password</h1><br> 
        <p class="text-center container">A Code has been sent to {{phone}}. <br>Enter the code below and enter the password to change.</p>
        <form class='container 'action="forgot2" method="POST">
            <div class="row">
                <div class="form-group col-6" style="margin-left: 25%;">
                    <label for="Username">Code</label>
                    <input type="text" name="code" placeholder="Code" class="form-control" id="Username" required><span style="color: red; font-size: 14px;">{{codeerror}}</span>
                </div>
                <div class="form-group col-6" style="margin-left: 25%;">
                    <label for="password1">Enter Password</label>
                    <input type="text" name="password1" id="" placeholder="Enter password" id="password1" class="form-control" required>
                </div>
                <div class="form-group col-6" style="margin-left: 25%;">
                    <label for="password2">Confirm Password</label>
                    <input type="text" name="password2" id="" placeholder="Confirm password" id="password2" class="form-control" required><span style="color: red; font-size: 14px;">{{error}}</span>
                </div>
                <div class="form-group col-6" style="margin-left: 25%;">
                    <input type="submit" class="btn btn-info btn-block" class="col-6" >
                </div>
            </div>
            
        </form>
    </div> <br><br>
        <div class="text center" align="center">
            <span style="color: rgb(91, 81, 226);">Made with</span> &nbsp;<img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="32" height="29"  alt="">
        </div>
</body>
</html>