<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="40" height="39" class="d-inline-block align-top" alt="">
            <span style="font-size: 26px; font-family: 'Righteous', cursive; color:rgb(57, 17, 121);">SMART <span style="color: rgb(96, 109, 228);">HEALTH</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" align="right">
                
                </div>
            </div>
                <span class="navbar-text">
                    <a class="nav-item nav-link" href="/"><span  style="color: rgb(88, 90, 228)"><i class='fas fa-arrow-left'></i> Back to Home</span></a>
                </span>
    </nav>

    <div class="container p-5">
        <h1 class="text-center" style="font-size: 44px;">Create account</h1><br>
        <form class='container p-4'action="patientreg" method="POST">
            <div class="row">
                <div class="form-group col-6">
                    <label for="Name">Name</label>
                    <input type="text" name="name" placeholder="Name" class="form-control" id="Name" required>
                </div>
                <div class="form-group col-6">
                    <label for="Phone">Phone</label>
                    <input type="text" name="phone" placeholder="Phone number" class="form-control" id="Phone" required>
                    <span style="color: red; font-size: 14px;">{{phonenum}}</span>
                </div>
                <div class="form-group col-6">
                    <label for="Email">Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control" id="Email" required>
                </div>
                <div class="form-group col-6">
                    <label for="Username">Username</label>
                    <input type="text" name="username" placeholder="Username" class="form-control" id="Username" required>
                    <span style="color: red; font-size: 14px;">{{username}}</span>
                </div>
                <div class="form-group col-6">
                    <label for="Password">Password</label>
                    <input type="password" name="password1" placeholder="Password" class="form-control" id="Password" required>
                    <span style="color: red; font-size: 14px;">{{password}}</span>
                </div>
                <div class="form-group col-6">
                    <label for="Password1">Confirm Password</label>
                    <input type="password" name="password2" placeholder="Confirm Password" class="form-control" id="Password1" required>
                </div> 
            </div>
            <span>Already have an account? <a href="/patientlogin">Log in</a></span>
            <div class="">
                <input type="submit" class="btn btn-info" class="col-6">
            </div>
        </form>
    </div><br><br><br>
    <div class="text center" align="center">
            <span style="color: rgb(91, 81, 226);">Made with</span> &nbsp;<img src="https://www.babylonhealth.com/assets/images/header/babylon-health-logo-mobile.png" width="32" height="29"  alt="">
        </div>
</body>
</html>