<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/demo.css"/>
    <link rel="stylesheet" href="../public/css/theme1.css"/>
  </head>
  <body>
    <div id="caleandar">
        <p>{{display.title}}</p>
    </div>

    <script type="text/javascript" src="../public/js/caleandar.min.js"></script>
    <script type="text/javascript">
        var eventData = decodeURIComponent("{{{eventData}}}");
        var jsonObj = JSON.parse(eventData);
        console.log(jsonObj);

        var eventDemo = []
        jsonObj.forEach((a) => {
            eventDemo.push({
                'Date': new Date(a.year, a.month - 1, a.day),
                'Title': a.title,
                'Link': a.link
            });
            {{!-- console.log(a.date); --}}
        });

        {{!-- console.log(eventDemo); --}}

        var settings = {};
        var element = document.getElementById('caleandar');
        caleandar(element, eventDemo, settings);
    </script>
  </body>
</html>
